body {padding:0; margin:0; height:100%; background:url(images/bg_main.jpg) top right repeat-x}
table, td {border-collapse:collapse;}
table, td, img {border:0; padding:0;}
form, td{margin:0; padding:0;}
html {height:100%;}
br{font-size:10px}
table{border:0px; border-collapse:collapse;	}
body, td{
	font-size:11px;
    font-family:Tahoma;
	color:#555555;
	line-height:14px;
	vertical-align:top;
	padding:0px;
}



a img{ border:0px}
img{ vertical-align:top}


b{}

span{ color:#2aa4d1;}
span a{ color:#555555; text-decoration:underline} 
span a:hover{ color:#555555; text-decoration: none}

a{ color:#2aa4d1; text-decoration:underline} 
a:hover{ color:#2aa4d1; text-decoration: none}

.color_div{ background:#838383; height:17px; width:234px; vertical-align:middle; text-align:center;}


ul{margin:0; padding:0; list-style:none}
li{ line-height:18px }
li a{color:#1a91c9; text-decoration:underline; background:url(images/1_z1.gif)  center left no-repeat; background-position:0 5px; margin:0px; padding-left:11px;}
li a:hover{color:#1a91c9; text-decoration:none}


.more{background:url(images/1_z3.gif)  center left no-repeat; background-position:0 5px; padding-left:13px; vertical-align:middle; color:#ffffff; text-decoration:underline}
.more:hover{ text-decoration:none}

.more_1{background:url(images/1_z2.gif)  center left no-repeat; background-position:0 5px; padding-left:9px; vertical-align:middle; color:#b82e2a; text-decoration:underline; font-weight:bold; text-transform:uppercase;}
.more_1:hover{ text-decoration:none}

.more_2{background:url(images/1_z1.gif)  center left no-repeat; background-position:0 5px; padding-left:8px; vertical-align:middle; color:#258bb1; text-decoration:underline;}
.more_2:hover{ text-decoration:none}

.more_3{background:url(images/1_z1.gif)  center left no-repeat; background-position:0 5px; padding-left:8px; vertical-align:middle; color:#3c3c3c; text-decoration:none; font-weight:bold;}
.more_3:hover{ text-decoration:underline; color:#3c3c3c;}

.more_4{background:url(images/1_z4.gif)  center left no-repeat; background-position:0 5px; padding-left:8px; vertical-align:middle; color:#f7f7f7; text-decoration:none; }
.more_4:hover{ text-decoration:underline; color:#f7f7f7;}



.main_table{ width:100%;}
.site_center{text-align:center; width:100%;}
.site_center1{margin:0 auto; text-align:left; width:766px;}
 /*header*/
#header{ height:479px; width:766px} 
#header .row1{ height:412px; }

#header .row1 .col1{ width:305px }

#header .row1 .col1 .box1{ height:157px }
#header .row1 .col1 .box2{ height:40px }
#header .row1 .col1 .box3{ height:215px; width:305px }

#header .row1 .col1 .box3 .tr1{ height:74px }
#header .row1 .col1 .box3 .tr2{ height:141px; background:#f2f2f2 }

#header .row1 .col1 .box3 .tr2 div{ padding:27px 0 10px 19px }
#header .row1 .col1 .box3 .tr2 p{ float:left; color:#535252; font-weight:bold; text-transform:uppercase; margin:2px 10px 0 0px }
#header .row1 .col1 .box3 .tr2 .indent{ margin:0px 32px 0px 18px }
#header .row1 .col2{ width:461px }

#header .row1 .col2 .box1{ height:388px; background:url(images/pic_top.jpg) top left no-repeat }

#header .row1 .col2 .box1 div{ padding:31px 0 0 31px}
#header .row1 .col2 .box1 .indent{ margin:0px 13px 0 16px}
#header .row1 .col2 .box2{ height:24px; background:url(images/bg_pic_bot.gif) top left repeat-x }
#header .row2{ height:67px; }



/*content*/
#content{ width:766px; height:442px; }

/*page1*/
#page1 #content .col1{ width:309px}

#page1 #content .col1 .row1{ height:283px}

#page1 #content .col1 .row1 .box1{ width:305px; background:#f2f2f2}

#page1 #content .col1 .row1 .box1 div{ padding:30px 20px 10px 25px}
#page1 #content .col1 .row1 .box1 .title{ margin:0px 0px 30px 4px}
#page1 #content .col1 .row1 .box1 .indent{ margin:23px 0px 24px 0px}
#page1 #content .col1 .row1 .box2{ width:4px; background:url(images/bg_shad_right.gif) top left repeat-y}
#page1 #content .col1 .row2{ height:159px; width:309px}

#page1 #content .col1 .row2 .box1{ height:3px; background:url(images/bg_shadow_bot.gif) bottom left repeat-x}
#page1 #content .col1 .row2 .box2{ height:156px}

#page1 #content .col1 .row2 .box2 div{ padding:30px 10px 10px 26px}
#page1 #content .col1 .row2 .box2 .title{ margin:0px 0px 26px 0px}
#page1 #content .col2{ width:457px; padding:26px 0 0 29px}

#page1 #content .col2 .indent{ margin:15px 0 26px 0px}
#page1 #content .col2 .title{ margin:0px 0 25px 0px}


/*page2*/
#page2 #content .col1{ width:368px}

#page2 #content .col1 span{ color:#bb0e24}
#page2 #content .col1 div{ padding:30px 0px 10px 29px}
#page2 #content .col2{ width:398px}

#page2 #content .col2 .row1{ height:219px}

#page2 #content .col2 .row1 .box1{ width:4px; background:url(images/bg_shadow_left.gif) top right repeat-y}
#page2 #content .col2 .row1 .box2{ width:394px; background:#f2f2f2}

#page2 #content .col2 .row1 .box2 div{ padding:30px 35px 10px 29px}
#page2 #content .col2 .row1 .box2 p{ margin:24px 0px 15px 0px}
#page2 #content .col2 .row2{ height:223px; width:398px}

#page2 #content .col2 .row2 .box1{ height:4px; background:url(images/bg_shadow_bot_1.gif) top left repeat-x}
#page2 #content .col2 .row2 .box2{ height:219px}

#page2 #content .col2 .row2 .box2 div{ padding:27px 22px 10px 3px}
#page2 #content .col2 .row2 .box2 .title{ margin:0 0 30px 0px}
#page2 #content .col2 .row2 .box2 p{ margin:4px 0 11px 0px}



/*page3*/
#page3 #content .col1{ width:458px}

#page3 #content .col1 div{ padding:30px 10px 10px 28px}
#page3 #content .col1 .indent{ margin:26px 0px 26px 0px}
#page3 #content .col1 .title{ margin:0px 0px 25px 0px}
#page3 #content .col2{ width:308px}

#page3 #content .col2 .row1{ height:225px}

#page3 #content .col2 .row1 .box1{ width:4px; background:url(images/bg_shadow_left_3.gif) top right repeat-y}
#page3 #content .col2 .row1 .box2{ width:304px; background:#f2f2f2}

#page3 #content .col2 .row1 .box2 div{ padding:30px 17px 10px 29px}
#page3 #content .col2 .row1 .box2 p{ margin:24px 0px 17px 0px}
#page3 #content .col2 .row2{ height:217px; width:308px}

#page3 #content .col2 .row2 .box1{ height:5px; background:url(images/bg_shadow_bot_3.gif) top left repeat-x}
#page3 #content .col2 .row2 .box2{ height:212px}

#page3 #content .col2 .row2 .box2 div{ padding:40px 27px 10px 4px}
#page3 #content .col2 .row2 .box2 .title{ margin:0px 0px 26px 0px}



/*page4*/
#page4 #content .col1{ width:406px}

#page4 #content .col1 .row1{ height:208px}

#page4 #content .col1 .row1 .box1{ width:402px; background:#f2f2f2}

#page4 #content .col1 .row1 .box1 div{ padding:30px 20px 10px 28px}
#page4 #content .col1 .row1 .box1 .title{ margin:0px 0px 28px 0px}
#page4 #content .col1 .row1 .box2{ width:4px; background:url(images/bg_shad_right.gif) top left repeat-y}
#page4 #content .col1 .row2{ height:232px; width:406px}

#page4 #content .col1 .row2 .box1{ height:5px; background:url(images/bg_shadow_bot_4.gif) top left repeat-x}
#page4 #content .col1 .row2 .box2{ height:142px}

#page4 #content .col1 .row2 .box2 div{ padding:31px 2px 0px 25px}
#page4 #content .col1 .row2 .box2 .title{ margin:26px 0px 8px 0px}
#page4 #content .col1 .row2 .box3{ height:87px}
#page4 #content .col2{ width:360px}

#page4 #content .col2 div{ padding:30px 25px 10px 26px}



/*page5*/
#page5 #content .col1{ width:431px}

#page5 #content .col1 .row1{ height:265px}

#page5 #content .col1 .row1 .box1{ width:427px; background:#f2f2f2}

#page5 #content .col1 .row1 .box1 div{ padding:30px 35px 10px 28px}
#page5 #content .col1 .row1 .box2{ width:4px; background:url(images/bg_shad_right.gif) top left repeat-y}
#page5 #content .col1 .row2{ height:177px; width:431px}

#page5 #content .col1 .row2 .box1{ height:3px; background:url(images/bg_shadow_bot_5.gif) top left repeat-x}
#page5 #content .col1 .row2 .box2{ height:174px}

#page5 #content .col1 .row2 .box2 div{ padding:27px 3px 10px 28px}
#page5 #content .col1 .row2 .box2 .title{ margin:0px 0px 27px 0px}
#page5 #content .col2{ width:335px}

#page5 #content .col2 div{ padding:30px 40px 10px 31px}




/*page6*/
#page6 #content .col1{ width:406px}

#page6 #content .col1 .row1{ height:441px}

#page6 #content .col1 .row1 .box1{ width:402px; background:#f2f2f2}
#page6 #content .col1 .row1 .box1 div{ padding:30px 25px 10px 28px}
#page6 #content .col1 .row1 .box2{ width:4px; background:url(images/bg_shad_right.gif) top left repeat-y}
#page6 #content .col1 .row2{ height:1px; background:#f1f1f1}
#page6 #content .col2{ width:360px}

#page6 #content .col2 div{ padding:30px 25px 10px 26px}




/*page7*/
#page7 #content .col1{ width:458px}

#page7 #content .col1 div{ padding:30px 25px 10px 28px}
#page7 #content .col1 .title{ margin:0px 0px 28px 0px}
#page7 #content .col1 .indent{ margin:25px 0px 26px 0px}
#page7 #content .col2{ width:308px; height:442px}

#page7 #content .col2 .box1{ width:4px; background:url(images/bg_shadow_left_3.gif) top right repeat-y}
#page7 #content .col2 .box2{ width:304px; background:#f2f2f2}

#page7 #content .col2 .box2 div{ padding:30px 19px 10px 28px}
#page7 #content .col2 .box2 .title{ margin:27px 0px 0px 0px}
#page7 #content .col2 .box2 .indent{ margin:23px 0px 25px 0px}
#page7 #content .col2 .box2 .indent_1{ margin:22px 0px 25px 0px}
#page7 #content .col2 .box2 .indent_2{ margin:22px 0px 12px 0px}



/*page8*/
#page8 #content .col1{ width:766px; height:442px}
#page8 #content .col1 div{ padding:30px 40px 10px 29px}







/*footer*/
#footer { height:79px; background:url(images/bg_footer.gif) top left repeat-x}

#footer .col1{ width:491px}

#footer .col1 div{ padding:35px 15px 10px 37px}
#footer .col2{ width:3px}

#footer .col2 .indent{ margin:33px 0 0px 0px}
#footer .col3{ width:272px} 

#footer .col3 div{ padding:35px 15px 10px 29px}

.jamp{ width:200px; height:20px; color:#6f6f6f; font-size:11px; font-family:Tahoma; margin-bottom:7px; border:1px solid #555555;}
.jamp_1{ width:164px; height:20px; color:#6f6f6f; font-size:11px; font-family:Tahoma; margin-bottom:18px; border:1px solid #555555;}
.jamp_2{ width:179px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_3{ width:221px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_4{ width:122px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_5{ width:128px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_6{ width:178px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_7{ width:194px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:6px; border:1px solid #555555;}
.jamp_8{ width:121px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:12px; border:1px solid #555555;}
.jamp_9{ width:179px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; border:1px solid #555555; background:#f2f2f2}
.jamp_10{ width:190px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; border:1px solid #555555; background:#f2f2f2}
.jamp_11{ width:178px; height:20px; color:#555555; font-size:11px; font-family:Tahoma; margin-bottom:21px; border:1px solid #555555; background:#f2f2f2}

/*input*/
input{
   background:#272727;
   border:1px solid #888888;
   width:165px; height:25px;
}
#input2{
   width:87px; height:20px;
   border:0px;
   background:none
   }
.input1{
   background:#ffffff;
   border:1px solid #555555;
   width:189px; height:18px;
   color:#555555;
   margin-bottom:6px
}
.input3{
   background:#ffffff;
   border:1px solid #555555;
   width:188px; height:26px;
   color:#555555;
   font-size:11px;
   margin-bottom:10px; 
}
textarea{
   background:#ffffff;
   border:1px solid #555555;
   width:188px; height:148px;
   overflow:auto;
   font-family:Tahoma;
   font-size:11px;
   color:#555555}